[Unit]
Description=Jabbot
Documentation=https://devel.ossg.ru/zabbot.html
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
RuntimeDirectory=/opt/jabbot/jabbot/
PrivateTmp=false

WorkingDirectory=/opt/jabbot/jabbot/

User=_jabbot
Group=_jabbot

ExecStart="/opt/jabbot/jabbot/jabbot.sh"
Restart=on-failure

StandardOutput=journal
StandardError=inherit
KillSignal=SIGUSR1
KillMode=process

[Install]
WantedBy=multi-user.target
